@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Anton&display=swap');

#header{
    padding-top: 90px;
}

.play-body-text{
    font-family: 'Amatic SC', cursive;
    font-size:2rem;
    width:80%;
    margin:auto;
    padding-bottom:40px;
}
.img-fluid{
   max-width:100%;
   height:auto;
    margin:auto;
    display: block;
   
}

.who{
    transform:translateY(-100px);
}

.infograph{
    width:60%;
    margin-bottom:40px;
}

.tooth{
    text-align: center;
    margin:auto;
    width:80%;
    margin-bottom:40px;
    font-family: 'Amatic SC', cursive;
}

#options{
    position:relative;
    top:39px;
    width:40%;
}

.sticky{
    min-width:100%;
    padding-top:70px;
}

.nav-link a:hover{
color:#f5d315;
text-decoration:none;
}

.banner{
    height:auto;
    max-width:100%;
    display:block;
    
}

.img-circle {
    border-radius: 50%;
    transform:translateY(-40px);
    width:30%;
    margin:auto;
}

.happy{
display:cover;
width:80%;


}

.container-fluid.yellow{
    background-color:#ffd700;
}

.yellow-wave{
    transform:translateY(3px);
}
.yellow-wave-bottom{
    transform:translateY(-1px);
}

.play-title{
    text-align: center;
    position:relative;
    top:-70px;
    font-family: 'Anton', sans-serif;
    color:white;
    font-size: 3rem;
}

.footer{
    background-color:#181717;
    color:white;
    padding-top:40px;
    padding-bottom:40px;
    
}

.footer-wrapper{
padding-left:80px;
padding-right:80px;

}


@media only screen and (min-width:25.6875em) { 
	.stay-connected{
        padding:0px;
        margin:0px;
        min-width:100%;
    }

    .footer-wrapper{
       
    }

    .play-title{
    text-align: center;
    position:relative;
    top:-30px;
    font-family: 'Anton', sans-serif;
    color:white;
    font-size: 3rem;
        font-size:2em;
    }

    .who{
        transform:translateY(-70px);
    }
}












grid css
.category {
    overflow: hidden;
    position: relative;
    border: 1px solid #673AB7
}

.container {
    margin-top: 50px;
    margin-bottom: 50px
}

.product-container{
    padding-bottom:10%;
}

.product-text{
    font-size:2rem;
    text-align:center;
    padding-top: 40px;
}

a,
.btn {
    transition: all 0.3s ease-out 0s
}

a {
    color: #333;
    text-decoration: none !important
}

h4 {
    margin-bottom: 0px !important
}

.mb-10 {
    margin-bottom: 10px
}

.htcatthumb a img {
    width: 100%
}

p+img,
img:last-child {
    margin-bottom: 0
}

.frhoverinfo {
    position: absolute;
    right: 20px;
    top: 20px
}

.productaction {
    display: flex;
    justify-content: center;
    flex-flow: column
}

.ml-text {
    margin-left: -44px
}

ul,
ol {
    list-style: none
}

.productaction li:nth-child(1) {
    opacity: 0;
    transition: opacity 300ms linear 0s
}

.productaction li:nth-child(2) {
    opacity: 0;
    transition: opacity 300ms linear 0s
}

.productaction li:nth-child(3) {
    opacity: 0;
    transition: opacity 300ms linear 0s
}

.productaction li {
    margin: 0;
    margin-bottom: 2px
}

.productaction li a {
    background: #fefefe none repeat scroll 0 0;
    display: inline-block;
    height: 50px;
    line-height: 60px;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: 50px
}

.productaction li a i {
    color: #673AB7;
    font-size: 18px;
    transition: all 0.4s ease 0s
}

.category:hover .productaction li:nth-child(1) {
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInRight;
    opacity: 1;
    transition: opacity 300ms linear 0s
}

.category:hover .productaction li:nth-child(2) {
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInRight;
    opacity: 1;
    transition: opacity 500ms linear 0s
}

.category:hover .productaction li:nth-child(3) {
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInRight;
    opacity: 1;
    transition: opacity 500ms linear 0s
}

.category:hover .frproductinner.innerposition {
    bottom: 0;
    opacity: 1
}

.frproductinner.innerposition {
    background: #fff none repeat scroll 0 0;
    bottom: -20px;
    left: 0;
    opacity: 0;
    padding: 30px 20px;
    position: absolute;
    text-align: left;
    transition: all 0.5s ease 0s;
    width: 100%
}

.frproductinner h4 a {
    color: #673ab6;
    font-family: Old Standard TT;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3s ease 0s
}

.innerposition .frproprize {
    float: left;
    justify-content: flex-start
}

.frproprize {
    display: flex;
    justify-content: center;
    margin-top: 6px
}

.frproprize li {
    color: #313131;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    margin: 0 5px
}

.innerposition .frproprize {
    margin-top: 0
}

.innerposition .rating {
    display: flex;
    float: right
}

.rating li i {
    color: red
}

