@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Anton&display=swap');
 
#header{
    width:100%;
    
    margin:auto;
}

.navbar-toggler{
    
    position:relative;
    right:367px;
    top:37px;

}

.nav-item{
    padding-top:25px;
    text-align:left;
}

.video{
    margin-top:2rem;
}
.img-fluid{
    padding-top: 90px;
    max-width:100%;
    height:auto;
     margin:auto;
     display: block;
    
 }

 #under-pic{
     margin-top:47px;
 }
 /*
.grid-container{
display:block;
display:grid;
grid-template-columns: 4fr 4fr 4fr;
grid-template-rows: 4fr 4fr 4fr;
grid-template-areas:
"archery line-up row-boat"
"steps stilts row-boat";
height:100vh;

}

.archery{
    grid-area:archery;
}

.line-up{
    grid-area: line-up;
}

.row-boat{
    grid-area: row-boat;
}

.steps{
    grid-area: steps;
}
.stilts{
    grid-area: stilts;
}*/

h1{
    text-align: center;
    color:white;
    font-size: 5em;
}

#screen{
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 5em; 
    margin-top:47px;
    margin-bottom:47px;
}

h1.who{
    color:red;
    padding-top:-47px;
}

.infograph{
margin-bottom:37px;
}

.tooth{
    text-align: center;
    margin:auto;
    width:80%;
    margin-bottom:40px;
    font-family: 'Amatic SC', cursive;
    font-size:2rem;
}

.play-body-text{
    font-family: 'Amatic SC', cursive;
    font-size:2rem;
    width:80%;
    margin:auto;
    padding-bottom:40px;
}

.quote{
    text-align: center;
    margin:auto;
    width:90%;
    margin-bottom:40px;
    font-family: 'Amatic SC', cursive;
    
}

.yellow{
    background-color: gold;
    width:100%;
 }
 .white-top-wave{
     width:100%;
     height:auto;
 position:relative;
 top:17px;
 z-index:-1;
 }

 .yellow-wave-bottom{
    background-image: url(/images/ill-yellow-bottom.svg);
    width:100vw;
    height:200px;
    object-fit:contain;
    object-position: 50% 50%;
    background-repeat: no-repeat;
    position:relative;
    top:-45px;
}

.sticky{
    margin-top:90px;
    width:100%;
}

.footer{
    background-color:rgb(11, 160, 219);
    margin:0px;
    justify-content: center;
}

.section-one h1{
color:rgb(80, 80, 82);
font-size:2em;
padding-top:37px;

}

ul{
    padding-left:170px;
    list-style-type: none;
}

li a{
    color:white;
    font-size:2em;
    text-decoration:none;
}

@media (min-width: 575.98px) {
    
}

 @media (max-width: 575.98px) {
    
.play-body-text{
    font-size:3em;
}
    h1{
        text-align: center;
        color:rgb(11, 160, 219);
        font-size: 2em;
    }
    .container-fluid.quote{
        text-align: center;
        margin:auto;
        width:90%;
        margin-bottom:40px;
        font-family: 'Amatic SC', cursive;
        margin-top:137;
    }
    ul{
        text-align:center;
        padding:0px;
    }

    
  }

@media only screen and (min-width: 575.98px)and(max-width: 677px) {
    
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 775.98px) { 
    
    
#screen{
    font-size:3rem;
}
    
    .one{
        width:100vw;
    }

    .two{
        width:100vw;

    }

    .three{
        width:100vw;

    }
   /* .grid-container{
        position:relative;
        top:9px;
        display:block;
        display:grid;
        width:90%;
        grid-template-columns: 1fr;
        grid-template-areas:
        "archery
        line-up
        row-boat
        steps
        stilts 
        "row-boat";
        }*/
        

    h1.who{
        color:red;
        padding-top:-177px;
        font-size:2rem;
    }

    ul{
        text-align:center;
        padding:0px;
    }
   
    h1{
        text-align: center;
        color:white;
        font-size: 2em;
    }
    .container-fluid.quote{
        text-align: center;
        margin:auto;
        width:100%;
        margin-bottom:40px;
        font-family: 'Amatic SC', cursive;
        font-size: 15px;
        
    }

    .play-body-text{
        font-family: 'Amatic SC', cursive;
        font-size:2em;
        width:80%;
        margin:auto;
        padding-bottom:20px;
    }

    .tooth{
        text-align: center;
        margin:auto;
        width:97%;
        margin-bottom:40px;
        font-family: 'Amatic SC', cursive;
    }

    ul{
        text-align:center;
        padding:0px;
    }

    .section-one h1{
        text-align:center;
    }

    button{
        margin:auto;
        justify-content:center;

    }

    
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    .navbar-toggler{
        
        position:relative;
        left:310px;
        top:37px;
    
    }
    h1.who{
        color:red;
        transform:translatey(-123px);
        font-size:3rem;
        margin-bottom:177px;
    }
    ul{
        text-align:center;
        padding:0px;
    }
 }

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 
    h1.who{
        color:red;
        transform:translatey(-90px);
        font-size:3rem;
        margin-bottom:147px;
        padding-bottom:237px;
    }
    button{
        margin:auto;
        justify-content:center;

    }
 }

 /* Large devices (desktops, less than 1300px)*/
@media (min-width: 1200.98px) { 
    h1.who{
        color:red;
        transform:translatey(-90px);
        font-size:3rem;
        margin-bottom:147px;
        padding-bottom:237px;
    }

    .who-body{
        padding-top:44px;
    }
}

